.bus-container {
  width: 350px !important;
  border: 2px solid gray;
  padding: 10px;
}
.seat {
  background-color: rgb(245, 242, 227);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 1px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.selected-seat {
  background-color: green;
  color: white;
}

.booked-seat {
  background-color: gray;
  color: white;
  pointer-events: none !important;
  cursor: disabled !important;
}
